sphinx
furo
sphinx-rtd-theme
myst-parser
sphinxcontrib-plantuml
sphinxcontrib-mermaid
sphinx-autoapi
sphinx-copybutton
sphinx-autodoc-typehints
sphinx-autobuild
sphinx-design
sphinx-sitemap
sphinx-tabs
sphinx-markdown-tables
sphinx-notfound-page
sphinx-inline-tabs
sphinxext-opengraph
sphinx-prompt
sphinx-toolbox
sphinxcontrib-napoleon
sphinxcontrib-programoutput
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
uvicorn
starlette
watchfiles
websockets
httpx
pyyaml
markdown
pygments
linkify-it-py
jinja2
beautifulsoup4
toml
pillow
docutils
pytest
coverage
build
setuptools
wheel
mypy
types-PyYAML
types-Markdown
flake8
black
isort
pytest-cov
pytest-mock
nox
typer
rich
tqdm
click
colorama
pydantic
requests
gitpython