sphinx
furo
sphinx-rtd-theme
myst-parser
sphinxcontrib-plantuml
sphinxcontrib-mermaid
sphinx-autoapi
sphinx-copybutton
sphinx-autodoc-typehints
sphinx-autobuild
sphinx-design
uvicorn
starlette
watchfiles
websockets
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
httpx
linkify-it-py
pyyaml
markdown
pygments
pytest
coverage
build
setuptools
wheel
mypy
types-PyYAML
types-Markdown
flake8
black
isort
jinja2
pillow
docutils
pydantic
requests
toml
sphinx-sitemap
sphinx-tabs
sphinx-markdown-tables
beautifulsoup4
typer
rich
tqdm
sphinx-notfound-page
sphinx-inline-tabs
sphinxext-opengraph
click
pytest-cov
pytest-mock
nox
sphinx-prompt
sphinx-toolbox
sphinxcontrib-napoleon
sphinxcontrib-programoutput
